<!DOCTYPE html>
<html>

<head>
    <title>All Dinosaurs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
    <div class="card" style="width: 35rem;border: 1px solid black;margin: 20px;">
        <div class=card-body>
    <%- body %>
</div>
</div>
<a href="/dinosaurs">HOME</a> <a href="/dinosaurs/new">ADD</a> 
</body>

</html>