<form method="POST" action="/dinosaurs">
    <label for="dinosaurType" class="card-text text-muted">Type</label>
    <input id="dinosaurType" type="text" name="type" class="form-control">
    <br />
    <label for="dinosaurName" class="card-text text-muted">Name</label>
    <input id="dinosaurName" type="text" name="name" class="form-control">
    <br />
    <input type="submit" class="btn btn-primary">
  </form>